<?xml version='1.0' encoding='utf-8'?>
<plugin 
	id="cordova-hms-push-kit"
	version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>HMSPushKit</name>
	<js-module 
		name="HMSPushKit"
		src="www/HMSPushKit.js">
		<clobbers target="cordova.plugins.HMSPushKit" />
	</js-module>

	<platform name="android">
		<!-- hook for add maven repositories and agc plugin-->
    	<hook type="after_plugin_install" src="scripts/android/after_plugin_install.js" />
    	<hook type="before_plugin_uninstall" src="scripts/android/before_plugin_uninstall.js" />
    	<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    	<!-- Push Kit dependency-->
        <framework src="com.huawei.hms:push:4.0.2.300" />
        <framework src="androidx.appcompat:appcompat:1.0.2" />
        <framework src="com.google.android.gms:play-services-base:17.1.0" />
		<config-file 
			parent="/*"
			target="res/xml/config.xml">
			<feature name="HMSPushKit">
				<param 
					name="android-package" 
					value="cordova.hms.push.kit.HMSPushKit" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
            	android:name="cordova.hms.push.kit.MyPushService"
            	android:exported="false">
            	<intent-filter>
                	<action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            	</intent-filter>
        	</service>
        </config-file>

		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/HMSPushKit.java" target-dir="src/cordova/hms/push/kit/" />
		<source-file src="src/android/MyPushService.java" target-dir="src/cordova/hms/push/kit/" />
		<source-file src="src/android/CallbackContextSingleton.java" target-dir="src/cordova/hms/push/kit/" />
		
	</platform>
	<!-- Script help to copy agconnect-services.json to right places-->
    <hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>